<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>add transaction</h1>

    <form action="/Addtransaction" method="POST">
        <label>Add transaction: </label>
        <input type="text" name="content" id="content">
        <input type="submit" value="add task">
    </form>
    <br>

    {% for transaction in transactions %}
        <P>{{transaction.id}} {{transaction.content}}</p>
    {% endfor %}

    <a href="{{url_for('Dashboard')}}">Home</a>
</body>
</html>