<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>add transaction</h1>
    <a href="{{url_for('Dashboard')}}">Home</a>
    <br>
    <br>

    <form action="/Addtransaction" method="POST" enctype="multipart/form-data">
        <label>Add transaction: </label>
        <input type="text" name="content" id="content" required><br>
        <label>Amount: </label>
        <input type="number" name="amount" id="amount" required>
        <select name="type" id="type" required>
            <option>small</option>
            <option>medium</option>
            <option>large</option>
        </select>
        <br>
        <br>
        <input type="submit" value="Submit">
        <br>
        <table>
            <tr>
                <th>transaction no.</th>
                <th>transaction info</th>
                <th>transaction type</th>
                <th>amount</th>
                <th>actions</th>
            </tr>
            {% for transaction in transactions %}
                <tr>
                    <td>{{transaction.id}}</td>
                    <td>{{transaction.content}}</td>
                    <td>{{transaction.type}}</td>
                    <td>{{transaction.amount}}$</td>
                    <td>
                        <a href="/delete/{{transaction.id}}">delete</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </form>
</body>
</html>