<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    
    <title>Document</title>
</head>
<body>
     <h1>The dev is lazy!! Deal with it!!!!</h1>

    <nav>
        <a href="/Addtransaction">add transaction</a>
        <a href="/transactionHistory">view transaction history</a>
        <a href="/transactionSummary">view transaction summary</a>
    </nav>
    <br>
    <button id="open">
        click me
    </button><br>
    <div class="modal-container" id="modal_container">
        <div class="modal">
            <h1>add transaction</h1>

            <form action="/Addtransaction" method="POST">
                <label>Add transaction: </label>
                <input type="text" name="content" id="content">
                <input type="submit" value="add task">
            </form>
            <br>

            
            
            <button id="close">close</button>
        </div>
    </div>
    <script src="static/popUp.js"></script>
    

    <a href="/">Home</a>
    <br>
    <a href="/Register">Register</a>
    <br>
    <a href="/Login">Login</a>
</body>
</html>