*{
    box-sizing: border-box;
}



.modal-container {
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    opacity: 0;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.modal-container.show {
    pointer-events: auto;
    opacity: 1;
}

.modal{
    background-color: white;
    padding: 30px 50px;
    border-radius: 5px;
    width: 600px;
    max-width: 100%;
    text-align: center;
}
body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
}
h1{
    font-size: 100px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.box{
    align-items: center;
    text-align: center;
    align-content: center;
    border: 2px solid black;
    height: 95vh;
    width: 98%;
    padding: 100px;
    margin: 10px;
    border-radius: 7px;
    box-shadow: 10px 10px lightgrey;
}
table{
    margin: 10px;
    border-radius: 7px;
    box-shadow: 10px 10px lightgrey;
}
td, th{
    border-radius: 5px;
}
tr{
    border-radius: 5px;
    background-color: lightblue;
}
.dark-mode {
    background-color: black;
    color: white;
}